<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
</head>
<body>
	<a href="http://sc-hungry.co.kr:8080/assets/app-debug.apk" type="application/vnd.android.package-archive"> Android Down</a>
	<a href="assets/app-debug.apk" type="application/vnd.android.package-archive"> Android Down2</a>
	<a href="app-debug.apk" type="application/vnd.android.package-archive"> Ios Down</a>
	<a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/scl/fi/c7secwx2rgih542ywapjd/manifest.plist?rlkey=bx857pjw39jyyzbrz9xosaqqv/manifest.plist">Ios Down</a>
	<br>
	<a href="itms-services://?action=download-manifest&url=https://www.dropbox.com/scl/fi/c7secwx2rgih542ywapjd/manifest.plist?rlkey=bx857pjw39jyyzbrz9xosaqqv&dl=0/manifest.plist">Ios Down2</a>
	<br>
	<a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/scl/fi/c7secwx2rgih542ywapjd/manifest.plist?rlkey=bx857pjw39jyyzbrz9xosaqqv&dl=0/manifest.plist">Ios Down3</a>
	<br>
	<a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/scl/fi/c7secwx2rgih542ywapjd/manifest.plist?rlkey=bx857pjw39jyyzbrz9xosaqqv/manifest.plist">Ios Down4</a>
	<br>
	<a  href=\ "itms-services://?action=download-manifest  &url=https://www.dropbox.com/scl/fi/c7secwx2rgih542ywapjd/manifest.plist?rlkey=bx857pjw39jyyzbrz9xosaqqv/manifest.plist">앱 설</a>
	
</body>
</html>